streamlit>=1.32.0  #streamlit is an open-source app framework for Machine Learning and Data Science teams, allowing you to create and share custom web apps

nltk>=3.8.1 #nltk is a leading platform for building Python programs to work with human language data, providing tools for text processing and analysis.

pandas>=2.0.0 #pandas is used for data manipulation and analysis, providing powerful data structures and functions to work with structured data.

numpy>=1.24.0 #numpy is a fundamental package for scientific computing in Python, providing support for  multi-dimensional arrays and matrices






